{{define "footer"}}
<script>
    $(document).ready(
            function() {
                $.ajaxSetup({
                    cache : false,
                });
                // highlight the current link so user can be reminded of location
                $('#myNavbar li.active').removeClass('active');
                $('a[href="' + location.pathname + '"]').closest('li')
                        .addClass('active');
            });
</script>
<noscript>This form requires that you have javascript
 enabled to work properly please enable javascript in your browser.</noscript>
</body>
</html>
{{end}}
