{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</title>

<link rel="stylesheet" type="text/css"
 href="static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
 href="static/css/pretty-checkbox.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/style-viz.css" />
<link rel="stylesheet" type="text/css" href="static/css/topology.css" />
<link rel="stylesheet" type="text/css" href="static/css/animation.css" />
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script type="text/javascript" src="static/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

<style type="text/css">
body {
 padding-bottom: 70px;
}

.content {
 margin: 10px;
}
</style>
</head>

<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
     data-target="#myNavbar">
     <span class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SCIONLab</a>
   </div>
   <div class="navbar-inverse collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-left">
     <li id="nav-srcia" class="dropdown"><a id="ia-selected"
      class="dropdown-toggle" data-toggle="dropdown" href="#">{{.MyIA}}
       <span class="caret"></span>
     </a>
      <ul id="ia-dropdown-menu" class="dropdown-menu">
       <!-- server will populate list with available IAs -->
      </ul>
     <li><a id="nav-health" href="/">Health</a></li>
     <li><a id="nav-apps" href="/apps">Apps</a></li>
     <!--<li><a id="nav-files" href="/dirview">Files</a></li> -->
     <li><a id="nav-files" href="/files">Files</a></li>
     <li><a id="nav-astopo" href="/astopo">AS Topology</a></li>
     <li><a id="nav-trc" href="/trc">ISD TRC</a></li>
     <li><a id="nav-crt" href="/crt">AS Certificate</a></li>
     <li><a id="nav-about" href="/about">About</a></li>
    </ul>
   </div>
  </div>
 </nav>

 <script type="text/javascript">
        $(window).on("load", function() {
            $.post("/getias", function(data) {
                console.info(data);

                // on document load, request full list of available IAs
                var ias = JSON.parse(data);
                if (ias != null && ias.length > 0) {
                    ias.sort();
                    for (i in ias) {
                        var ia_str = ias[i];
                        var a = $('<a/>', {
                            name : ias[i],
                            href : '#',
                            html : ia_str
                        });
                        var li = $('<li/>');
                        li.append(a);
                        var ul = $('#ia-dropdown-menu');
                        ul.append(li);
                    }
                } else {
                    showError('Local IA not found. Is SCION installed?');
                }
                // after IA list is populated, and after window load, attach clicks

                // set click handler only after list populated
                $('.dropdown-menu a').click(function(e) {
                    // handle nav-srcia selection
                    var a = $('#ia-selected');
                    a.text($(this).text());
                    a.append(' <span class="caret"></span>');

                    // log chosen IA
                    console.warn("ia choice:", e.target.name);
                    var data = {
                        myIA : e.target.text
                    };
                    // set chosen IA in server
                    $.post("/setuseropt", data, function(json) {
                        // reload this page, no cache
                        location.reload(true);
                    });
                });
            });
        });
    </script>

 {{end}}
