# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Emacs temp files
*~

# User-defined webapp node addresses
webapp/web/config/clients_default.json
webapp/web/config/clients_user.json
webapp/web/config/servers_user.json

# Generated webapp data and logging
webapp/web/webapp.db
webapp/web/data
.webapp

# IDE project files
.jshintrc
.project
.settings/

*.log

# vendor directory
vendor/*/

# generated binaries
bat/bat
bwtester/bwtestclient/bwtestclient
bwtester/bwtestserver/bwtestserver
camerapp/imagefetcher/imagefetcher
camerapp/imageserver/imageserver
sensorapp/sensorfetcher/sensorfetcher
sensorapp/sensorserver/sensorserver
webapp/webapp
tools/pathdb_dump/pathdb_dump
netcat/netcat
ssh/client/client
ssh/server/server
roughtime/timeclient/timeclient
roughtime/timeserver/timeserver
_examples/helloworld/helloworld
_examples/shttp/client/client
_examples/shttp/server/server

# vscode workspace
*.code-workspace

# IntelliJ IDEA workspace
.idea/
