# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Emacs temp files
*~

# User-defined webapp node addresses
webapp/web/config/clients_default.json
webapp/web/config/clients_user.json
webapp/web/config/servers_user.json

# Generated webapp data and logging
webapp/web/webapp.db
webapp/web/data
.webapp

# IDE project files
.jshintrc
.project
.settings/

*.log

# vendor directory
vendor/*/

# generated binaries
bin/

# vscode workspace
*.code-workspace

# IntelliJ IDEA workspace
.idea/

# Symlink to SCION gen directory (I personally use this for integration tests)
gen
