{{define "about"}} {{template "header" .}}

<div class="content">

 <h2>SCIONLab About</h2>
 This Go web server wraps several SCION test client apps and provides
 an interface for any text and/or image output received.
</div>

<!-- <div id="info">-->
<div>
 <ul>
  <li><a href='http://scion-architecture.net'>SCION Website</a></li>
  <li><a href='http://github.com/scionproto/scion'>SCION</a> on
   Github</li>
  <li><a href='http://github.com/netsec-ethz/scion-apps'>SCION
    Apps</a> on Github</li>
  <li><a href='https://netsec-ethz.github.io/scion-tutorials'>SCION
    Tutorials</a></li>
 </ul>

</div>

{{template "footer" .}} {{end}}
