{{define "apps"}} {{template "header" .}}

<script type="text/javascript" src="static/js/jquery.knob.min.js"></script>
<script type="text/javascript" src="static/js/cola.v3.min.js"></script>
<script type="text/javascript" src="static/js/d3.v3.min.js"></script>
<script type="text/javascript" src="static/js/topojson.min.js"></script>
<script type="text/javascript" src="static/js/highcharts.js"></script>
<script type="text/javascript" src="static/js/topology.js"></script>
<script type="text/javascript" src="static/js/tab-topocola.js"></script>
<script type="text/javascript" src="static/js/location.js"></script>
<script type="text/javascript" src="static/js/tab-g-maps.js"></script>
<script type="text/javascript" src="static/js/asviz.js"></script>
<script type="text/javascript" src="static/js/tab-paths.js"></script>
<script type="text/javascript" src="static/js/webapp.js"></script>

<div class="content">

 <div id='as-error'></div>

 <h2>SCIONLab Apps</h2>

 <div id='webapp'>

  <form action="/command" method="post" id="command-form"
   onreset="setDefaults();" onsubmit="return command(false);">

   <div id="row-apps" class="row">
    <div id="col-left" class="column-ia">

     <!-- SCION CLIENT CONTENT -->
     <div id="svg-client">
      <svg class="svg-ia" width="200px" height="300px">
       <circle cx="100" cy="100" r="98" />
     </svg>
     </div>
     <div id="in-client" class="scion-ia">
      <span>Source</span><br> <select name="sel_cli" id="sel_cli"
       style="width: 120px;"></select><br>IA: <input type="text"
       name="ia_cli" id="ia_cli" required placeholder="1-ff00:0:111"
       pattern="^[0-9]+-[0-9a-fA-F_:\/]+$" style="width: 120px;"><br>Host:
      <input type="text" name="addr_cli" id="addr_cli" required
       placeholder="127.0.0.3"
       pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
       style="width: 125px;"><br>Port: <input
       name="port_cli" id="port_cli" type="number" required
       placeholder=30001 style="width: 75px;" min="1">
     </div>
    </div>
    <div id="col-center" class="column-center">

     <!-- SVG DEFINITIONS -->
     <svg class="svg-ia">
        <defs>
          <marker id="cs-arrowhead" markerWidth="0.31"
       markerHeight="1.25" refX="0.01" refY="0.62" orient="auto">
            <polygon points="0 0, 0.31 0.62, 0 1.25" />
          </marker>
          <marker id="sc-arrowhead" markerWidth="0.31"
       markerHeight="1.25" refX="0.01" refY="0.62" orient="auto">
            <polygon points="0 0, 0.31 0.62, 0 1.25" />
          </marker>
        </defs>
     </svg>

     <!-- APPS TABS DEFINITIONS -->
     <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" name="bwtester"
       href="#bwtester">bwtester</a></li>
      <li><a data-toggle="tab" name="camerapp" href="#camerapp">camerapp</a></li>
      <li><a data-toggle="tab" name="sensorapp" href="#sensorapp">sensorapp</a></li>
      <li><a data-toggle="tab" name="echo" href="#echo">echo</a></li>
      <li><a data-toggle="tab" name="traceroute" href="#traceroute">traceroute</a></li>
     </ul>
     <div id="tab-content-apps" class="tab-content">

      <!-- BANDWIDTH TEST APP CONTENT -->
      <div id="bwtester" class="tab-pane fade in active">

       <span id="bwtest_text"></span><br> Interval: <input
        name="bwtest_sec" id="bwtest_sec" type="number"
        style="width: 45px;" min="3" max="11" value="4"> sec.

       Additional Argument: <span
        tooltip="Use the equal sign, '=', between argument and parameter."><input
        type="text" id="addl_opt" name="addl_opt" style="width: 200px;">
       </span>


       <div id="bwtest-cs" class="bwtest-control">

        <div id="svg-cs" class="bwtest-svg">
         <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="10" y1="42" x2="279" y2="42" stroke-width="70"
           marker-end="url(#cs-arrowhead)" />
        </svg>
        </div>

        <div id="dials-cs" class="bwtest-dials">

         <div class="bwtest-dial">
          <label for="dial-cs-sec" class="label-dial">seconds</label><input
           type="text" class="dial" id="dial-cs-sec" name="dial-cs-sec"
           value="3">
         </div>

         <div class="bwtest-dial">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="cs-radio-size" name="cs-dial"
            value="size" checked>
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>pkt
             size (b)</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-cs-size"
           name="dial-cs-size" value="1000">
         </div>

         <div class="bwtest-dial div-pkt">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="cs-radio-pkt" name="cs-dial"
            value="pkt">
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>packets</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-cs-pkt"
           name="dial-cs-pkt" value="30">
         </div>

         <div class="bwtest-dial">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="cs-radio-bw" name="cs-dial"
            value="bw">
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>bw
             (mbps)</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-cs-bw"
           name="dial-cs-bw" value="0.08">
         </div>

        </div>

       </div>
       <!-- CS END -->


       <div id="bwtest-sc" class="bwtest-control">

        <div id="svg-sc" class="bwtest-svg">
         <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="290" y1="42" x2="21" y2="42" stroke-width="70"
           marker-end="url(#sc-arrowhead)" />
        </svg>
        </div>

        <div id="dials-sc" class="bwtest-dials">

         <div class="bwtest-dial">
          <label for="dial-sc-sec" class="label-dial">seconds</label><input
           type="text" class="dial" id="dial-sc-sec" name="dial-sc-sec"
           value="3">
         </div>

         <div class="bwtest-dial">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="sc-radio-size" name="sc-dial"
            value="size" checked>
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>pkt
             size (b)</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-sc-size"
           name="dial-sc-size" value="1000">
         </div>

         <div class="bwtest-dial div-pkt">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="sc-radio-pkt" name="sc-dial"
            value="pkt">
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>packets</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-sc-pkt"
           name="dial-sc-pkt" value="30">
         </div>

         <div class="bwtest-dial">
          <div class="pretty p-svg p-curve p-pulse">
           <input type="radio" id="sc-radio-bw" name="sc-dial"
            value="bw">
           <div class="state">
            <img class="svg" src="static/img/lock-locked.svg"> <label>bw
             (mbps)</label>
           </div>
          </div>
          <input type="text" class="dial" id="dial-sc-bw"
           name="dial-sc-bw" value="0.08">
         </div>

        </div>

       </div>
       <!-- SC END -->

      </div>

      <!-- CAMERA FETCHER APP CONTENT -->
      <div id="camerapp" class="tab-pane fade">

       <div id="svg-sc" class="bwtest-svg">
        <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="290" y1="42" x2="21" y2="42" stroke-width="70"
          marker-end="url(#sc-arrowhead)" />
        </svg>
       </div>

       <div id="image_text"></div>
       Additional Argument: <span
        tooltip="Use the equal sign, '=', between argument and parameter."><input
        type="text" id="addl_optca" name="addl_optca"
        style="width: 200px;"> </span>
       <div id="images"></div>

      </div>

      <!-- SENSOR FETCHER APP CONTENT -->
      <div id="sensorapp" class="tab-pane fade">

       <div id="svg-sc" class="bwtest-svg">
        <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="290" y1="42" x2="21" y2="42" stroke-width="70"
          marker-end="url(#sc-arrowhead)" />
        </svg>
       </div>

       <div id="stats_text"></div>
       Additional Argument: <span
        tooltip="Use the equal sign, '=', between argument and parameter."><input
        type="text" id="addl_optsa" name="addl_optsa"
        style="width: 200px;"> </span>

      </div>


      <!-- SCMP ECHO APP CONTENT -->
      <div id="echo" class="tab-pane fade">

       <div id="svg-sc" class="bwtest-svg">
        <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="290" y1="42" x2="21" y2="42" stroke-width="70"
          marker-end="url(#sc-arrowhead)" />
        </svg>
       </div>

       <span id="echo_text"></span><br> Interval: <input
        name="echo_sec" id="echo_sec" type="number" style="width: 45px;"
        min="1" max="10" value="1"> sec. Additional Argument: <span
        tooltip="Use the equal sign, '=', between argument and parameter."><input
        type="text" id="addl_optse" name="addl_optse"
        style="width: 200px;"> </span>

      </div>


      <!-- SCMP TRACEROUTE APP CONTENT -->
      <div id="traceroute" class="tab-pane fade">

       <div id="svg-sc" class="bwtest-svg">
        <svg class="svg-dials" viewBox="0 0 300 150">
        <line x1="290" y1="42" x2="21" y2="42" stroke-width="70"
          marker-end="url(#sc-arrowhead)" />
        </svg>
       </div>

       <span id="traceroute_text"></span><br> Interval: <input
        name="traceroute_sec" id="traceroute_sec" type="number"
        style="width: 45px;" min="1" max="10" value="1"> sec.
       Additional Argument: <span
        tooltip="Use the equal sign, '=', between argument and parameter."><input
        type="text" id="addl_opttr" name="addl_opttr"
        style="width: 200px;"> </span>

      </div>


     </div>

    </div>
    <div id="col-right" class="column-ia">

     <!-- SCION SERVER CONTENT -->
     <div id="svg-server" class="svg-ia">
      <svg class="svg-ia" width="200px" height="300px">
       <circle cx="100" cy="100" r="98" />
     </svg>
     </div>
     <div id="in-server" class="scion-ia">
      <span>Destination</span><br> <select name="sel_ser"
       id="sel_ser" style="width: 120px;"></select><br>IA: <input
       type="text" name="ia_ser" id="ia_ser" required
       placeholder="1-ff00:0:112" pattern="^[0-9]+-[0-9a-fA-F_:\/]+$"
       style="width: 120px;"> <br>Host: <input type="text"
       name="addr_ser" id="addr_ser" required placeholder="127.0.0.2"
       pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
       style="width: 125px;"> <br>Port: <input
       name="port_ser" id="port_ser" type="number" required
       placeholder=30002 style="width: 75px;" min="1">
     </div>
    </div>
   </div>

   <div id="row-paths">

    <!-- PATHS TABS DEFINITIONS -->
    <ul class="nav nav-tabs">
     <li class="active"><a data-toggle="tab" name="as-graphs"
      href="#as-graphs">Execute</a></li>
     <li><a data-toggle="tab" name="as-tab-pathtopo"
      href="#as-tab-pathtopo">Paths</a></li>
    </ul>
    <div id="tab-content-paths" class="tab-content">

     <div id="as-graphs" class="tab-pane fade in active">

      <!-- COMMAND OPTIONS -->
      <div id="cmd_config">
       <input type="submit" id="button_cmd" value="Run Once" />

       <div class="pretty p-switch p-fill">
        <input id="switch_cont" type="checkbox" />
        <div class="state p-success">
         <label>Run Continuous</label>
        </div>
       </div>

       <div class="pretty p-switch">
        <input id="switch_utc" type="checkbox" checked />
        <div class="state">
         <label>UTC</label>
        </div>
       </div>

      </div>

      <div id="webapp-console-graph">

       <!-- BWTEST GRAPHING -->
       <div id="bwtest-continuous" style="display: block;">
        <div id="cs-bwtest-graph" class="chart"></div>
        <div id="sc-bwtest-graph" class="chart"></div>
       </div>

       <!-- ECHO GRAPHING -->
       <div id="echo-continuous" style="display: none;">
        <div id="echo-graph" class="chart"></div>
       </div>

       <!-- COMMAND OUTPUT -->
       <div class="stdout">
        <div id="results"></div>
       </div>

      </div>

     </div>

     <div id="as-tab-pathtopo" class="tab-pane fade in">

      <div id="as-pathgraphs" style="position: relative;">

       <div id="as-pathopt">
        <div>
         <div id="div_as_names" class="pretty p-switch">
          <input id="switch_as_names" type="checkbox" />
          <div class="state">
           <label>AS Names</label>
          </div>
         </div>
         <div id="div_as_numbers" class="pretty p-switch">
          <input id="switch_as_numbers" type="checkbox" />
          <div class="state">
           <label>AS Numbers</label>
          </div>
         </div>
         <div class="pretty p-switch">
          <input id="radio_pathTopo" type="radio" name="radioPaths"
           checked="checked">
          <div class="state">
           <label>Topology</label>
          </div>
         </div>
         <div class="pretty p-switch">
          <input id="radio_pathMap" type="radio" name="radioPaths">
          <div class="state">
           <label>Map</label>
          </div>
         </div>
        </div>
       </div>
       <div id="as-pathtopo"></div>

      </div>

     </div>

    </div>

    <div id="as-iflist">
     <h2>
      Available Paths <span class='badge'>hops</span>
     </h2>
     <input type="button" value="Update Paths" onclick="requestPaths();" />
     <p>
     <p id="path-info"></p>
    </div>
   </div>

  </form>

 </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        // nodes setup
        initNodes();
        // nodes first load will request initial paths based on src/dst loaded
        // dials setup
        initDials('cs');
        initDials('sc');
        $('.dial').trigger('configure', dial_prop_all);
        initBwGraphs();
        setDefaults();
    });
</script>

{{template "footer" .}} {{end}}
