{{define "webview"}} {{template "header" .}}

<div class="content">

 <h2>SCION Webview</h2>
This page provides a searchbar for SCION HTTP URLs, which are accessed via a SCION HTTP proxy and the result is
 isplayed in an iFrame on this page.
 <br />
 <br />
<button id="webviewload" onclick="back()">BACK</button>
<input id="webviewinput" placeholder="https://19:1:ffaa[127.0.0.1]:8000" style="width: 800px">
<button id="webviewload" onclick="loadSCIONUrl()">GO</button>
</div>

<iframe id="webview" src="about:blank" width="1600" height="900" frameborder="0" ></iframe>
<div class="sb-default-tabs">
  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>DVB-T2 Live Stream</b></h4>
      <p onclick="openStream('https://19-ffaa:1:bcc,[141.44.25.152]:9001/bysid/769')">Open Stream</p>
    </div>
  </div>
</div>
<script>
showTabs = false;
function getPosition(string, subString, index) {
  return string.split(subString, index).join(subString).length;
}
  
function back() {
  showTabs = true;
}

function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:video/mpeg;charset=utf-8,' + encodeURIComponent(text));
    // element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
    }

  function openLiveStream(remote, title) {
    var str="#EXTM3U\n#EXTINF:5000,$title\n$target";
    var target = 'http://localhost:8000/__proxy' + sContext;

    var sRemotesIndex = getPosition(remote, '/', 3);
    var sRemote = remote.substring(0, sRemotesIndex);
    var sContext = remote.substring(sRemotesIndex, remote.length);
    str = str.replace('$title', title);
    str = str.replace('$target', target);

    $.ajax({
          url : 'http://localhost:8000/__proxy/setconfig',
          type : 'post',
          dataType : "text",
          data : JSON.stringify({
              "remote" : sRemote
          }),
          timeout : 10000,
          success : function(data, textStatus, jqXHR) {
            download('stream.m3u', str);
          },
          error : function(jqXHR, textStatus, errorThrown) {
              console.error(this.url + ' ' + textStatus + ': ' + errorThrown);
          },
      }); 
  }

function openStream(remote) {
  var sRemotesIndex = getPosition(remote, '/', 3);
	var sRemote = remote.substring(0, sRemotesIndex);
  var sContext = remote.substring(sRemotesIndex, remote.length);
  
  $.ajax({
        url : 'http://localhost:8000/__proxy/setconfig',
        type : 'post',
        dataType : "text",
        data : JSON.stringify({
            "remote" : sRemote
        }),
        timeout : 10000,
        success : function(data, textStatus, jqXHR) {
          document.getElementById('webview').src = 'http://localhost:8000/__proxy' + sContext; //remote;
        },
        error : function(jqXHR, textStatus, errorThrown) {
            console.error(this.url + ' ' + textStatus + ': ' + errorThrown);
        },
    });

}

function loadSCIONUrl(target) {
    var remote = target || $('#webviewinput').val();
    var sRemotesIndex = getPosition(remote, '/', 3);
	var sRemote = remote.substring(0, sRemotesIndex);
	var sContext = remote.substring(sRemotesIndex, remote.length);

    $.ajax({
        url : 'http://localhost:8000/__proxy/setconfig',
        type : 'post',
        dataType : "text",
        data : JSON.stringify({
            "remote" : sRemote
        }),
        timeout : 10000,
        success : function(data, textStatus, jqXHR) {
          document.getElementById('webview').src = 'http://localhost:8000/__proxy/' + sContext; //remote;
        },
        error : function(jqXHR, textStatus, errorThrown) {
            console.error(this.url + ' ' + textStatus + ': ' + errorThrown);
        },
    });
  }
  </script>

{{template "footer" .}} {{end}}